.student__item__container {
  background-color: #483d8b;
  width: 40%;
  min-width: 300px;
  padding: 1px 15px;
  border-radius: 10px;
  margin: 5px auto;
}
.student__item__container:hover {
}
.student__item__container .student__name {
  font-size: 20px;
  font-weight: 800;
  color: darkorange;
  margin-bottom: 0;
}

.student__item__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 0.5;
}
.student__item__container__item1 {
  min-width: 70%;
}
.student__item__container__item2 {
}
