.register__student__container {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #382f6e;
  border-radius: 10px;
}
.register__student__container__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 20px;
  height: 2rem;
}
.register__student__container__item label {
  min-width: 30%;
}
