.search__student__course {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}
.student__search__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}
.student__search__box__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 30px;
  font-size: 20px;
}

.student__search__box .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.student__search__result {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
